* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #134963;
}

th, td {
    padding: 0.6rem 1.5rem;
}

table, th, td {
    border: 1px solid #fff;
}